export(annotateBedFromUCSC)
export(getFnAnot_genome)
export(plotDistanceDistribution)
export(plotPairwise)
export(plotTwoGODags)
export(ucscDbDump)
export(ksTest)
export(slidingJaccard)
import(rtracklayer, Rgraphviz, ggplot2)
importClassFrom(RDAVIDWebService, DAVIDWebService)
importFrom("RDAVIDWebService", connect, addList, setAnnotationCategories, setCurrentBackgroundPosition, getFunctionalAnnotationChart)
importFrom("RDAVIDWebService", DAVIDFunctionalAnnotationChart, DAVIDGODag)
importFrom(RDAVIDWebService)
