export(annotateBedFromUCSC)
export(getFnAnot_genome)
export(plotDistanceDistribution)
export(plotPairwise)
export(plotTwoGODags)
export(ucscDbDump)
importClassesFrom(RDAVIDWebService,DAVIDWebService)
importFrom(RDAVIDWebService,addList)
importFrom(RDAVIDWebService,connect)
importFrom(RDAVIDWebService,getFunctionalAnnotationChart)
importFrom(RDAVIDWebService,is.connected)
importFrom(RDAVIDWebService,setAnnotationCategories)
importFrom(RDAVIDWebService,setCurrentBackgroundPosition)
