export(annotateBedFromUCSC)
export(doZtrans.single)
export(getFnAnot_genome)
export(ksTest)
export(plotDistanceDistribution)
export(plotPairwise)
export(plotTwoGODags)
export(slidingJaccard)
export(ucscDbDump)
export(zTransformDirectory)

import(rtracklayer, Rgraphviz, ggplot2, VariantAnnotation)
importClassFrom(RDAVIDWebService, DAVIDWebService)
importFrom("RDAVIDWebService", connect, addList, setAnnotationCategories, setCurrentBackgroundPosition, getFunctionalAnnotationChart)
importFrom("RDAVIDWebService", DAVIDFunctionalAnnotationChart, DAVIDGODag)
importFrom(RDAVIDWebService)
